<a href="https://colab.research.google.com/github/KyleSprague/DCS_210/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
hotels <- read.csv("hotels.csv")

In [2]:
install.packages("ggplot2") 
install.packages("tidyverse") 
install.packages("skimr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [3]:
library("tidyverse")
library("skimr") 
library("ggplot2")

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.7      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [4]:
skim(hotels)

── Data Summary ────────────────────────
                           Values
Name                       hotels
Number of rows             119390
Number of columns          32
_______________________
Column type frequency:
  character                14
  numeric                  18
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
   skim_variable           n_missing complete_rate min max empty n_unique
 1 hotel                           0             1  10  12     0        2
 2 arrival_date_month              0             1   3   9     0       12
 3 meal                            0             1   2   9     0        5
 4 country                         0             1   2   4     0      178
 5 market_segment                  0             1   6  13     0        8
 6 distribution_channel            0             1   3   9     0        5
 7 reserved_room_type              0             1   1   1     0       10
 8 assigned_room_type              0             1   1   1     0       12
 9 deposit_type                    0             1  10  10     0        3
10 agent                           0             1   1   4     0      334
11 company                         0             1   1   4     0      353
12 customer_type                   0             1   5  15     0        4
13 reservation_status              0             1   7   9     0        3
14 reservation_status_date         0             1  10  10     0      926
   whitespace
 1          0
 2          0
 3          0
 4          0
 5          0
 6          0
 7          0
 8          0
 9          0
10          0
11          0
12          0
13          0
14          0

── Variable type: numeric ──────────────────────────────────────────────────────
   skim_variable                  n_missing complete_rate       mean       sd
 1 is_canceled                            0          1       0.370     0.483
 2 lead_time                              0          1     104.      107.
 3 arrival_date_year                      0          1    2016.        0.707
 4 arrival_date_week_number               0          1      27.2      13.6
 5 arrival_date_day_of_month              0          1      15.8       8.78
 6 stays_in_weekend_nights                0          1       0.928     0.999
 7 stays_in_week_nights                   0          1       2.50      1.91
 8 adults                                 0          1       1.86      0.579
 9 children                               4          1.00    0.104     0.399
10 babies                                 0          1       0.00795   0.0974
11 is_repeated_guest                      0          1       0.0319    0.176
12 previous_cancellations                 0          1       0.0871    0.844
13 previous_bookings_not_canceled         0          1       0.137     1.50
14 booking_changes                        0          1       0.221     0.652
15 days_in_waiting_list                   0          1       2.32     17.6
16 adr                                    0          1     102.       50.5
17 required_car_parking_spaces            0          1       0.0625    0.245
18 total_of_special_requests              0          1       0.571     0.793
        p0    p25    p50  p75 p100 hist
 1    0       0      0      1    1 ▇▁▁▁▅
 2    0      18     69    160  737 ▇▂▁▁▁
 3 2015    2016   2016   2017 2017 ▃▁▇▁▆
 4    1      16     28     38   53 ▅▇▇▇▅
 5    1       8     16     23   31 ▇▇▇▇▆
 6    0       0      1      2   19 ▇▁▁▁▁
 7    0       1      2      3   50 ▇▁▁▁▁
 8    0       2      2      2   55 ▇▁▁▁▁
 9    0       0      0      0   10 ▇▁▁▁▁
10    0       0      0      0   10 ▇▁▁▁▁
11    0       0      0      0    1 ▇▁▁▁▁
12    0       0      0      0   26 ▇▁▁▁▁
13    0       0      0      0   72 ▇▁▁▁▁
14    0       0      0      0   21 ▇▁▁▁▁
15    0       0      0      0  391 ▇▁▁▁▁
16   -6.38   69.3   94.6  126 5400 ▇▁▁▁▁
17    0       0      0      0    8 ▇▁▁▁▁
18    0       0      0      1    5 ▇▁▁▁▁

Warning message in is.null(text_repr) || nchar(text_repr) == 0L:
“'length(x) = 2 > 1' in coercion to 'logical(1)'”

##ANSWER TO QUESTION 1 

The skimr function prints the number of rows in the data set and the number of columns. The row number can be used to get the total number of bookings for all hotels and the column information tells us the number of variables and also the variable names, which will be useful when we need to select specific columns. We are further given a variable breakdown with the names of the variables and the data type they are associated with (whether character or numeric). This information is useful for manipulating the data if we want to use specific functions that require a particular type of data. In the case of the numeric breakdown, we are also given numeric information such as standard deviation and mean, along with the number of missing data and the completion rate for cells.

In [5]:
##Question 2 code 

hotels %>%
  select(country, lead_time) %>% 
  filter(country != "USA" & lead_time < 1)

     country lead_time
1    PRT     0
2    FRA     0
3    PRT     0
4    PRT     0
5    PRT     0
6    ESP     0
7    PRT     0
8    GBR     0
9    PRT     0
10   GBR     0
11   NLD     0
12   PRT     0
13   GBR     0
14   DEU     0
15   ESP     0
16   ESP     0
17   AUS     0
18   PRT     0
19   PRT     0
20   ESP     0
21   PRT     0
22   PRT     0
23   PRT     0
24   PRT     0
25   PRT     0
26   PRT     0
27   PRT     0
28   PRT     0
29   PRT     0
30   PRT     0
⋮    ⋮       ⋮
6145 PRT     0
6146 PRT     0
6147 ITA     0
6148 FRA     0
6149 PRT     0
6150 PRT     0
6151 DEU     0
6152 AUS     0
6153 PRT     0
6154 DEU     0
6155 PRT     0
6156 FRA     0
6157 DEU     0
6158 PRT     0
6159 PRT     0
6160 PRT     0
6161 PRT     0
6162 BRA     0
6163 DEU     0
6164 CHN     0
6165 PRT     0
6166 GBR     0
6167 FRA     0
6168 PRT     0
6169 PRT     0
6170 PRT     0
6171 BEL     0
6172 NLD     0
6173 BRA     0
6174 ROU     0

##ANSWER TO QUESTION 2 

We can use the select function, then the filter function to get data on non-American stays with a lead_time of less than 1 day. 
We see that there are 6174 hotel bookings made on the same day as the hotel stay outside of the US. 

Command:

hotels %>%
  select(country, lead_time) %>% 
  filter(country != "USA" & lead_time < 1)

In [6]:
hotels %>% 
  filter(children >= 1 | babies >= 1)

     hotel        is_canceled lead_time arrival_date_year arrival_date_month
1    Resort Hotel 0            18       2015              July
2    Resort Hotel 1            47       2015              July
3    Resort Hotel 0             1       2015              July
4    Resort Hotel 0            10       2015              July
5    Resort Hotel 1            79       2015              July
6    Resort Hotel 0           101       2015              July
7    Resort Hotel 0            92       2015              July
8    Resort Hotel 1            26       2015              July
9    Resort Hotel 0           102       2015              July
10   Resort Hotel 0            78       2015              July
11   Resort Hotel 0            79       2015              July
12   Resort Hotel 0             2       2015              July
13   Resort Hotel 0           109       2015              July
14   Resort Hotel 1            34       2015              July
15   Resort Hotel 0            97       2015              July
16   Resort Hotel 0             8       2015              July
17   Resort Hotel 0           115       2015              July
18   Resort Hotel 0            81       2015              July
19   Resort Hotel 0            84       2015              July
20   Resort Hotel 0             2       2015              July
21   Resort Hotel 0            68       2015              July
22   Resort Hotel 0            21       2015              July
23   Resort Hotel 0             8       2015              July
24   Resort Hotel 1           280       2015              July
25   Resort Hotel 0            17       2015              July
26   Resort Hotel 0            12       2015              July
27   Resort Hotel 1            24       2015              July
28   Resort Hotel 1            44       2015              July
29   Resort Hotel 0            78       2015              July
30   Resort Hotel 0            13       2015              July
⋮    ⋮            ⋮           ⋮         ⋮                 ⋮
9303 City Hotel   0            61       2017              August
9304 City Hotel   0            35       2017              August
9305 City Hotel   0             8       2017              August
9306 City Hotel   0           301       2017              August
9307 City Hotel   0             0       2017              August
9308 City Hotel   0           221       2017              August
9309 City Hotel   0            14       2017              August
9310 City Hotel   0            16       2017              August
9311 City Hotel   0             0       2017              August
9312 City Hotel   0           202       2017              August
9313 City Hotel   0           240       2017              August
9314 City Hotel   0           130       2017              August
9315 City Hotel   0           216       2017              August
9316 City Hotel   0           323       2017              August
9317 City Hotel   0             5       2017              August
9318 City Hotel   0             0       2017              August
9319 City Hotel   0            29       2017              August
9320 City Hotel   0            22       2017              August
9321 City Hotel   0           171       2017              August
9322 City Hotel   0           175       2017              August
9323 City Hotel   0             6       2017              August
9324 City Hotel   0           341       2017              August
9325 City Hotel   0           140       2017              August
9326 City Hotel   0           140       2017              August
9327 City Hotel   0             9       2017              August
9328 City Hotel   0             0       2017              August
9329 City Hotel   0           167       2017              August
9330 City Hotel   0           243       2017              August
9331 City Hotel   0           160       2017              August
9332 City Hotel   0            45       2017              August
     arrival_date_week_number arrival_date_day_of_month stays_in_weekend_nights
1    27                        1                        0
2    27                        2                        2
3    27                        2                        0
4    27                        3                        0
5    27                        3                        6
6    27                        3                        2
7    27                        4                        2
8    27                        4                        2
9    27                        4                        2
10   27                        4                        2
11   27                        4                        4
12   27                        4                        0
13   28                        5                        2
14   28                        5                        2
15   28                        5                        2
16   28                        5                        4
17   28                        6                        1
18   28                        6                        1
19   28                        6                        1
20   28                        6                        1
21   28                        6                        2
22   28                        7                        0
23   28                        7                        0
24   28                        8                        2
25   28                        9                        0
26   28                        9                        0
27   28                        9                        0
28   28                        9                        0
29   28                        9                        0
30   28                       10                        0
⋮    ⋮                        ⋮                         ⋮
9303 35                       27                        1
9304 34                       26                        2
9305 34                       26                        2
9306 35                       27                        2
9307 35                       29                        0
9308 34                       26                        2
9309 34                       24                        2
9310 34                       26                        2
9311 35                       28                        1
9312 34                       26                        2
9313 35                       28                        1
9314 34                       23                        2
9315 34                       26                        2
9316 35                       29                        0
9317 35                       29                        0
9318 35                       29                        0
9319 35                       27                        2
9320 35                       30                        0
9321 34                       22                        2
9322 35                       27                        2
9323 35                       28                        1
9324 35                       27                        2
9325 35                       27                        2
9326 35                       27                        2
9327 35                       28                        1
9328 35                       29                        0
9329 35                       27                        2
9330 35                       30                        0
9331 35                       29                        0
9332 35                       28                        1
     stays_in_week_nights adults ⋯ deposit_type agent company
1     4                   2      ⋯ No Deposit   241   NULL
2     5                   2      ⋯ No Deposit   240   NULL
3     1                   2      ⋯ No Deposit   NULL  NULL
4     2                   2      ⋯ No Deposit   240   NULL
5    15                   2      ⋯ No Deposit   242   NULL
6     5                   2      ⋯ No Deposit   240   NULL
7     4                   1      ⋯ No Deposit   241   NULL
8     5                   2      ⋯ No Deposit   240   NULL
9     5                   2      ⋯ No Deposit   240   NULL
10    5                   2      ⋯ No Deposit   240   NULL
11    6                   2      ⋯ No Deposit   250   NULL
12    1                   2      ⋯ No Deposit   240   NULL
13    3                   2      ⋯ No Deposit   241   NULL
14    4                   2      ⋯ No Deposit   240   NULL
15    5                   2      ⋯ No Deposit   250   NULL
16    5                   2      ⋯ No Deposit   240   NULL
17    4                   2      ⋯ No Deposit   240   NULL
18    3                   2      ⋯ No Deposit   250   NULL
19    3                   2      ⋯ No Deposit   240   NULL
20    0                   2      ⋯ No Deposit   NULL  NULL
21    5                   2      ⋯ No Deposit   240   NULL
22    3                   2      ⋯ No Deposit   250   NULL
23    4                   3      ⋯ No Deposit   240   NULL
24    5                   2      ⋯ No Deposit   40    NULL
25    1                   2      ⋯ No Deposit   242   NULL
26    2                   2      ⋯ No Deposit   NULL  NULL
27    3                   2      ⋯ No Deposit   242   NULL
28    3                   2      ⋯ No Deposit   240   NULL
29    3                   2      ⋯ No Deposit   240   NULL
30    2                   2      ⋯ No Deposit   240   NULL
⋮    ⋮                    ⋮      ⋱ ⋮            ⋮     ⋮
9303 0                    2      ⋯ No Deposit   85    NULL
9304 1                    2      ⋯ No Deposit   14    NULL
9305 1                    2      ⋯ No Deposit   7     NULL
9306 0                    2      ⋯ No Deposit   9     NULL
9307 1                    2      ⋯ No Deposit   229   NULL
9308 1                    2      ⋯ No Deposit   9     NULL
9309 3                    2      ⋯ No Deposit   9     NULL
9310 1                    2      ⋯ No Deposit   9     NULL
9311 0                    2      ⋯ No Deposit   14    NULL
9312 2                    1      ⋯ No Deposit   9     NULL
9313 1                    2      ⋯ No Deposit   9     NULL
9314 5                    2      ⋯ No Deposit   14    NULL
9315 2                    2      ⋯ No Deposit   11    NULL
9316 1                    2      ⋯ No Deposit   9     NULL
9317 1                    2      ⋯ No Deposit   9     NULL
9318 1                    2      ⋯ No Deposit   NULL  NULL
9319 1                    2      ⋯ No Deposit   9     NULL
9320 3                    2      ⋯ No Deposit   9     NULL
9321 7                    2      ⋯ No Deposit   14    NULL
9322 2                    1      ⋯ No Deposit   9     NULL
9323 3                    2      ⋯ No Deposit   7     NULL
9324 3                    2      ⋯ No Deposit   22    NULL
9325 3                    2      ⋯ No Deposit   9     NULL
9326 3                    2      ⋯ No Deposit   9     NULL
9327 3                    2      ⋯ No Deposit   14    NULL
9328 3                    2      ⋯ No Deposit   9     NULL
9329 4                    2      ⋯ No Deposit   9     NULL
9330 3                    2      ⋯ No Deposit   9     NULL
9331 5                    2      ⋯ No Deposit   9     NULL
9332 5                    2      ⋯ No Deposit   7     NULL
     days_in_waiting_list customer_type adr    required_car_parking_spaces
1    0                    Transient     154.77 0
2    0                    Transient     153.00 0
3    0                    Transient     107.00 1
4    0                    Transient     153.00 1
5    0                    Transient     108.73 0
6    0                    Transient      99.30 1
7    0                    Transient      96.49 0
8    0                    Transient     163.00 0
9    0                    Transient      73.80 0
10   0                    Transient     139.00 0
11   0                    Transient     149.00 0
12   0                    Transient     163.00 1
13   0                    Transient      85.59 1
14   0                    Transient     163.00 0
15   0                    Transient     164.20 1
16   0                    Transient     175.00 1
17   0                    Transient     167.00 0
18   0                    Transient     210.00 1
19   0                    Transient      97.00 0
20   0                    Transient     131.00 0
21   0                    Transient     185.00 0
22   0                    Transient     185.50 0
23   0                    Transient     193.00 0
24   0                    Contract      112.00 0
25   0                    Transient     123.00 0
26   0                    Transient     146.00 1
27   0                    Transient     123.00 0
28   0                    Transient     153.00 0
29   0                    Transient      82.00 0
30   0                    Transient     185.00 1
⋮    ⋮                    ⋮             ⋮      ⋮
9303 0                    Transient      90.60 0
9304 0                    Transient     176.64 0
9305 0                    Transient     253.51 0
9306 0                    Transient     179.10 0
9307 0                    Group         270.00 0
9308 0                    Transient     198.00 0
9309 0                    Transient     165.60 0
9310 0                    Transient     126.00 0
9311 0                    Transient     150.00 0
9312 0                    Transient     117.00 0
9313 0                    Transient     135.00 0
9314 0                    Transient     300.00 0
9315 0                    Transient      93.60 0
9316 0                    Transient     125.10 0
9317 0                    Transient     259.00 0
9318 0                    Transient     270.00 0
9319 0                    Transient     233.00 0
9320 0                    Transient      61.80 0
9321 0                    Transient     180.00 0
9322 0                    Transient     175.50 0
9323 0                    Transient     190.00 0
9324 0                    Transient      96.91 0
9325 0                    Transient     235.00 0
9326 0                    Transient     235.00 0
9327 0                    Transient     210.00 0
9328 0                    Transient     135.00 0
9329 0                    Transient     177.75 0
9330 0                    Transient     189.00 0
9331 0                    Transient     153.90 0
9332 0                    Transient     194.13 0
     total_of_special_requests reservation_status reservation_status_date
1    1                         Check-Out          2015-07-05
2    0                         Canceled           2015-06-02
3    2                         Check-Out          2015-07-03
4    0                         Check-Out          2015-07-05
5    2                         Canceled           2015-04-15
6    2                         Check-Out          2015-07-10
7    2                         Check-Out          2015-07-10
8    0                         Canceled           2015-06-09
9    2                         Check-Out          2015-07-11
10   2                         Check-Out          2015-07-11
11   1                         Check-Out          2015-07-14
12   0                         Check-Out          2015-07-05
13   2                         Check-Out          2015-07-10
14   0                         Canceled           2015-06-17
15   1                         Check-Out          2015-07-12
16   1                         Check-Out          2015-07-14
17   0                         Check-Out          2015-07-11
18   0                         Check-Out          2015-07-10
19   2                         Check-Out          2015-07-10
20   0                         Check-Out          2015-07-07
21   0                         Check-Out          2015-07-13
22   1                         Check-Out          2015-07-10
23   1                         Check-Out          2015-07-11
24   1                         Canceled           2015-04-15
25   3                         Check-Out          2015-07-10
26   0                         Check-Out          2015-07-11
27   1                         Canceled           2015-06-16
28   0                         Canceled           2015-06-16
29   2                         Check-Out          2015-07-12
30   1                         Check-Out          2015-07-12
⋮    ⋮                         ⋮                  ⋮
9303 1                         Check-Out          2017-08-28
9304 1                         Check-Out          2017-08-29
9305 2                         Check-Out          2017-08-29
9306 0                         Check-Out          2017-08-29
9307 1                         Check-Out          2017-08-30
9308 1                         Check-Out          2017-08-29
9309 2                         Check-Out          2017-08-29
9310 2                         Check-Out          2017-08-29
9311 0                         Check-Out          2017-08-29
9312 0                         Check-Out          2017-08-30
9313 3                         Check-Out          2017-08-30
9314 1                         Check-Out          2017-08-30
9315 0                         Check-Out          2017-08-30
9316 2                         Check-Out          2017-08-30
9317 0                         Check-Out          2017-08-30
9318 0                         Check-Out          2017-08-30
9319 0                         Check-Out          2017-08-30
9320 0                         Check-Out          2017-09-02
9321 1                         Check-Out          2017-08-31
9322 1                         Check-Out          2017-08-31
9323 1                         Check-Out          2017-09-01
9324 1                         Check-Out          2017-09-01
9325 0                         Check-Out          2017-09-01
9326 0                         Check-Out          2017-09-01
9327 0                         Check-Out          2017-09-01
9328 2                         Check-Out          2017-09-01
9329 0                         Check-Out          2017-09-02
9330 3                         Check-Out          2017-09-02
9331 0                         Check-Out          2017-09-03
9332 1                         Check-Out          2017-09-03

##QUESTION 3 

We can use the filter function. Specifically, 

hotels %>% 
  filter(children >= 1 | babies >= 1)

In [7]:
##Code for question 4 
hotels %>% 
  filter(children >= 1 | babies >= 1) %>%
  count(hotel)

  hotel        n
1 City Hotel   5403
2 Resort Hotel 3929

## ANSWER TO QUESTION 4 

It is more likely that you will find bookings with children or babies in city hotels than in resort hotels. The number for city hotels with at least one child or one baby is 5403 and the number for resort hotels is 3929 bookings

In [8]:
#code for question 5
hotels %>%  
  filter(children > 1 | babies == 1) %>% 
  nrow()

[1] 4597

In [9]:
#code for question 6 

hotels %>% 
  filter(children > 1 | babies == 1) %>% 
  count(hotel)

  hotel        n
1 City Hotel   2424
2 Resort Hotel 2173

##ANSWERS TO QUESTION 5 and 6

The command I used to find that there are 4597 bookings with more than one child or one baby is: <brk>

hotels %>% 
  filter(children > 1 | babies == 1) %>%
  nrow() <brk>

To get the number of bookings for resort hotels and city hotels, we can use the same command for each. That is, we can use <brk>

hotels %>% 
  filter(children > 1 | babies == 1) %>%
  count(hotel) <brk>

which tells us the number of bookings with more than one child or one baby is 2424 in city hotels and 2173 in resort hotels.

In [10]:
##CODE FOR QUESTION 7 

##SEE ABOVE 

'''

df <- hotels %>%
  mutate(little_ones = children + babies)    
  arrange(desc(country))


ggplot(df, 
  aes(x = little_ones > 1)) +
  geom_histogram() + 
  facet_wrap(~ hotel)


'''

ERROR: ignored

##ANSWER TO QUESTION 7 

The countries with the highest number of children or babies staying in hotel rooms are in Europe; there are more likely to be children or babies staying at city hotels than at resort hotels as we saw from previous work.

In [12]:
##CODE FOR QUESTION 8  

hotels %>%   
  count(adults) %>%
  arrange(desc(n))

   adults n
1   2     89680
2   1     23027
3   3      6202
4   0       403
5   4        62
6  26         5
7   5         2
8  20         2
9  27         2
10  6         1
11 10         1
12 40         1
13 50         1
14 55         1

##ANSWER TO QUESTION 8 

The most common number of adults in a booking is two at 89680 bookings. The most surprising result is that there were bookings with over twenty people, which will skew the mean

In [13]:
#code for question 9 part 1 

hotels %>%   
  group_by(adults, reservation_status) %>%
  filter(is_canceled == 1) %>%
  count(adults) %>%
  arrange(desc(n)) %>% 
  arrange(desc(adults))

   adults reservation_status n
1  55     Canceled               1
2  50     Canceled               1
3  40     Canceled               1
4  27     Canceled               2
5  26     Canceled               5
6  20     Canceled               2
7  10     Canceled               1
8   6     Canceled               1
9   5     Canceled               2
10  4     Canceled              16
11  3     Canceled            2104
12  3     No-Show               47
13  2     Canceled           34548
14  2     No-Show              710
15  1     Canceled            6228
16  1     No-Show              446
17  0     Canceled             105
18  0     No-Show                4

In [ ]:
#code for question 9 part 2

In [15]:
hotels %>%   
  group_by(adults, reservation_status) %>%
  filter(is_canceled == 0) %>%
  count(adults) %>%
  arrange(desc(n)) %>%  
  arrange(desc(adults))

  adults reservation_status n
1 4      Check-Out             46
2 3      Check-Out           4051
3 2      Check-Out          54422
4 1      Check-Out          16353
5 0      Check-Out            294

##QUESTION 9 Answer

Adults are much more likely to complete their stay if they book as a small group of adults rather than as a large group (e.g. 20 adults or more)

In [16]:
##Code for question 10 

hotels %>%   
  group_by(hotel) %>%
  summarise(
    min_adr = min(adr),
    mean_adr = mean(adr),
    median_adr = median(adr),
    max_adr = max(adr)
    )

  hotel        min_adr mean_adr  median_adr max_adr
1 City Hotel    0.00   105.30447 99.9       5400
2 Resort Hotel -6.38    94.95293 75.0        508

##ANSWER TO QUESTION 10
 The hotel type with the higher average adr is the city hotel 105.30 vs 94.95 dollars for resort hotels)

##ANSWER TO QUESTION 11 

The hotel type with the very low minimum is the resort hotel with -6.38 dollars and the hotel with a very high maximum is the city hotel with an adr of $5400. The arrival day of month for the former stay was 5, the week of the year was 10, and the year was 2017. For the max amount, the arrival date was day 25 of week 13 of 2016. In both cases only 2 adults were present.

In [17]:
min_adr <- 0.00 
max_adr <- 5400 

hotels %>%    
  select(children, adults, babies, hotel, adr, arrival_date_day_of_month, arrival_date_week_number, arrival_date_year) %>%
  filter(adr == 5400) 

hotels %>% 
  select(children, adults, babies, hotel, adr, arrival_date_day_of_month, arrival_date_week_number, arrival_date_year) %>%
  filter(adr == -6.38)

  children adults babies hotel      adr  arrival_date_day_of_month
1 0        2      0      City Hotel 5400 25
  arrival_date_week_number arrival_date_year
1 13                       2016

  children adults babies hotel        adr   arrival_date_day_of_month
1 0        2      0      Resort Hotel -6.38 5
  arrival_date_week_number arrival_date_year
1 10                       2017